In [320]:
import os
import numpy as np
import pandas as pd
import matplotlib as mpl
from scipy import stats
from scipy.stats import t, norm
import seaborn as sns
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.impute import SimpleImputer
import statsmodels.api as sm


fpath = 'C:/Users/becha/Desktop/Item_analysis/Data'

# Data

In [131]:
# load datas 
data = pd.read_csv((os.path.join(fpath, 'preprocessed.csv')))

In [132]:
data #注意：沒有Q30

,number,1,2,3,4,5,6,7,8,9,...,272,273,274,275,276,277,278,279,280,281
0,gender,female,male,male,female,male,female,female,female,male,...,female,male,female,nonbinary,male,male,female,female,female,male
1,Q1,3,3,2,3,4,3,4,3,1,...,5,4,NaN,4,5,4,4,5,3,4
2,Q2,6,5,5,6,5,5,5,6,4,...,5,6,4,5,4,6,4,5,6,6
3,Q3,6,5,5,6,5,5,4,6,5,...,6,6,5,5,2,5,5,6,5,6
4,Q4,6,5,5,6,5,4,5,6,5,...,6,6,6,6,2,6,6,6,6,6
5,Q5,6,5,5,6,6,5,4,6,5,...,6,6,4,6,6,6,5,5,5,6
6,Q6,6,4,5,5,4,5,4,6,2,...,6,6,5,5,6,6,5,4,6,6
7,Q7,4,4,4,3,3,5,4,1,1,...,5,3,4,4,5,4,4,2,3,6
8,Q8,6,2,4,5,4,4,4,1,1,...,4,3,5,4,5,3,3,2,4,3
9,Q9,6,5,4,5,3,4,4,6,2,...,5,5,4,3,4,6,5,4,5,6
10,Q10,6,4,5,6,4,4,5,4,NaN,...,5,3,5,5,NaN,5,6,6,6,6
11,Q11,6,3,4,5,5,3,4,4,5,...,4,NaN,NaN,5,6,2,5,NaN,5,3
12,Q12,6,3,5,6,5,5,5,4,5,...,6,6,5,5,5,5,5,6,6,6
13,Q13,6,5,5,5,5,5,4,6,5,...,5,6,5,6,6,6,5,6,6,6
14,Q14,6,5,5,5,5,5,5,6,6,...,6,6,6,6,6,4,5,6,6,6
15,Q15,6,5,4,4,5,5,5,3,NaN,...,5,5,NaN,5,6,NaN,5,NaN,5,5
16,Q16,6,4,5,5,6,4,5,1,5,...,5,5,5,6,6,6,5,5,6,1
17,Q17,6,4,4,5,5,5,5,6,5,...,4,6,5,5,6,5,5,6,6,6
18,Q18,6,4,5,6,5,5,4,6,6,...,6,6,6,5,6,6,5,5,6,4
19,Q19,6,5,5,5,5,5,4,6,5,...,5,6,5,5,6,5,5,6,6,5
20,Q20,6,4,5,4,4,4,NaN,6,4,...,5,6,4,4,6,5,5,6,5,6
21,Q21,6,5,5,5,5,5,5,6,6,...,6,6,6,6,4,6,5,6,5,6
22,Q22,6,5,5,4,5,5,4,6,5,...,5,6,5,4,6,NaN,5,5,6,6
23,Q23,6,5,5,6,6,6,4,6,6,...,5,6,4,6,6,5,5,6,6,6
24,Q24,6,3,5,5,4,4,4,1,6,...,5,NaN,NaN,5,6,NaN,5,6,4,5
25,Q25,5,3,4,4,5,3,4,4,3,...,4,4,3,4,5,4,4,5,5,6
26,Q26,6,5,5,5,5,6,5,4,6,...,5,6,5,4,6,4,5,6,6,6
27,Q27,6,5,5,5,4,5,5,4,4,...,5,4,4,4,6,5,5,5,6,6
28,Q28,6,4,5,6,4,6,5,4,5,...,5,6,4,5,6,6,5,5,6,6
29,Q29,4,3,4,4,4,4,4,4,2,...,4,3,3,4,4,5,5,4,5,6
30,Q31,6,4,5,NaN,4,NaN,NaN,4,NaN,...,5,NaN,NaN,3,4,4,5,5,5,6
31,Q32,6,5,5,NaN,5,NaN,NaN,5,NaN,...,5,NaN,NaN,5,5,5,5,4,5,6
32,Q33,6,5,5,NaN,5,NaN,NaN,5,NaN,...,5,NaN,NaN,5,4,5,5,3,5,6
33,Q34,6,4,5,NaN,4,NaN,NaN,5,NaN,...,5,NaN,NaN,4,5,4,5,5,6,6
34,Q35,6,4,5,NaN,5,NaN,NaN,5,NaN,...,5,NaN,NaN,4,5,4,5,5,6,6
35,Q36,6,4,2,NaN,5,NaN,NaN,2,NaN,...,3,NaN,NaN,4,4,5,5,4,4,6

In [133]:
# drop the row of gender
data = data.drop([0],axis=0)

In [201]:
data

,number,1,2,3,4,5,6,7,8,9,...,272,273,274,275,276,277,278,279,280,281
1,Q1,3,3,2,3,4,3,4,3,1,...,5,4,NaN,4,5,4,4,5,3,4
2,Q2,6,5,5,6,5,5,5,6,4,...,5,6,4,5,4,6,4,5,6,6
3,Q3,6,5,5,6,5,5,4,6,5,...,6,6,5,5,2,5,5,6,5,6
4,Q4,6,5,5,6,5,4,5,6,5,...,6,6,6,6,2,6,6,6,6,6
5,Q5,6,5,5,6,6,5,4,6,5,...,6,6,4,6,6,6,5,5,5,6
6,Q6,6,4,5,5,4,5,4,6,2,...,6,6,5,5,6,6,5,4,6,6
7,Q7,4,4,4,3,3,5,4,1,1,...,5,3,4,4,5,4,4,2,3,6
8,Q8,6,2,4,5,4,4,4,1,1,...,4,3,5,4,5,3,3,2,4,3
9,Q9,6,5,4,5,3,4,4,6,2,...,5,5,4,3,4,6,5,4,5,6
10,Q10,6,4,5,6,4,4,5,4,NaN,...,5,3,5,5,NaN,5,6,6,6,6
11,Q11,6,3,4,5,5,3,4,4,5,...,4,NaN,NaN,5,6,2,5,NaN,5,3
12,Q12,6,3,5,6,5,5,5,4,5,...,6,6,5,5,5,5,5,6,6,6
13,Q13,6,5,5,5,5,5,4,6,5,...,5,6,5,6,6,6,5,6,6,6
14,Q14,6,5,5,5,5,5,5,6,6,...,6,6,6,6,6,4,5,6,6,6
15,Q15,6,5,4,4,5,5,5,3,NaN,...,5,5,NaN,5,6,NaN,5,NaN,5,5
16,Q16,6,4,5,5,6,4,5,1,5,...,5,5,5,6,6,6,5,5,6,1
17,Q17,6,4,4,5,5,5,5,6,5,...,4,6,5,5,6,5,5,6,6,6
18,Q18,6,4,5,6,5,5,4,6,6,...,6,6,6,5,6,6,5,5,6,4
19,Q19,6,5,5,5,5,5,4,6,5,...,5,6,5,5,6,5,5,6,6,5
20,Q20,6,4,5,4,4,4,NaN,6,4,...,5,6,4,4,6,5,5,6,5,6
21,Q21,6,5,5,5,5,5,5,6,6,...,6,6,6,6,4,6,5,6,5,6
22,Q22,6,5,5,4,5,5,4,6,5,...,5,6,5,4,6,NaN,5,5,6,6
23,Q23,6,5,5,6,6,6,4,6,6,...,5,6,4,6,6,5,5,6,6,6
24,Q24,6,3,5,5,4,4,4,1,6,...,5,NaN,NaN,5,6,NaN,5,6,4,5
25,Q25,5,3,4,4,5,3,4,4,3,...,4,4,3,4,5,4,4,5,5,6
26,Q26,6,5,5,5,5,6,5,4,6,...,5,6,5,4,6,4,5,6,6,6
27,Q27,6,5,5,5,4,5,5,4,4,...,5,4,4,4,6,5,5,5,6,6
28,Q28,6,4,5,6,4,6,5,4,5,...,5,6,4,5,6,6,5,5,6,6
29,Q29,4,3,4,4,4,4,4,4,2,...,4,3,3,4,4,5,5,4,5,6
30,Q31,6,4,5,NaN,4,NaN,NaN,4,NaN,...,5,NaN,NaN,3,4,4,5,5,5,6
31,Q32,6,5,5,NaN,5,NaN,NaN,5,NaN,...,5,NaN,NaN,5,5,5,5,4,5,6
32,Q33,6,5,5,NaN,5,NaN,NaN,5,NaN,...,5,NaN,NaN,5,4,5,5,3,5,6
33,Q34,6,4,5,NaN,4,NaN,NaN,5,NaN,...,5,NaN,NaN,4,5,4,5,5,6,6
34,Q35,6,4,5,NaN,5,NaN,NaN,5,NaN,...,5,NaN,NaN,4,5,4,5,5,6,6
35,Q36,6,4,2,NaN,5,NaN,NaN,2,NaN,...,3,NaN,NaN,4,4,5,5,4,4,6

In [202]:
# drop 題號
dat = data.drop('number', axis = 1)

In [204]:
# dat

In [142]:
# # select particular items
# Q16 = dat.iloc[15,:]
# Q17 = dat.iloc[16,:]
# Q18 = dat.iloc[17,:]
# Q19 = dat.iloc[18,:]
# Q20 = dat.iloc[19,:]

In [143]:
# Q16

1      6
2      4
3      5
4      5
5      6
      ..
277    6
278    5
279    5
280    6
281    1
Name: 16, Length: 281, dtype: object

In [144]:
# # check for NA
# print('the number of NA for Q16 is',Q16.isnull().sum())
# print('the number of NA for Q17 is',Q17.isnull().sum())
# print('the number of NA for Q18 is',Q18.isnull().sum())
# print('the number of NA for Q19 is',Q19.isnull().sum())
# print('the number of NA for Q20 is',Q20.isnull().sum())

the number of NA for Q16 is 3
the number of NA for Q17 is 3
the number of NA for Q18 is 1
the number of NA for Q19 is 3
the number of NA for Q20 is 4

In [145]:
dat_int = dat.fillna(-1).to_numpy()

In [192]:
dat_int

array([[3, 3, 2, ..., 5, 3, 4],
       [6, 5, 5, ..., 5, 6, 6],
       [6, 5, 5, ..., 6, 5, 6],
       ...,
       [6, 4, 5, ..., 5, 6, 6],
       [6, 4, 5, ..., 5, 6, 6],
       [6, 4, 2, ..., 4, 4, 6]])

In [193]:
dat_int = dat_int.astype(int)

In [194]:
dat_int

array([[3, 3, 2, ..., 5, 3, 4],
       [6, 5, 5, ..., 5, 6, 6],
       [6, 5, 5, ..., 6, 5, 6],
       ...,
       [6, 4, 5, ..., 5, 6, 6],
       [6, 4, 5, ..., 5, 6, 6],
       [6, 4, 2, ..., 4, 4, 6]])

In [212]:
# for i in range(0, len(dat_int)):    
# #     print(dat_int[i])
#     for j in dat_int[i]:
#         print(dat_int[i][j])
#         if dat_int[i][j] == -1:
#             print('啊')
#             dat_int[i][j] = np.nan
dat_int = pd.DataFrame(dat_int)
dat_int = dat_int.replace(-1,np.nan)

In [213]:
# select particular items
Q16 = dat_int.iloc[15,:]
Q17 = dat_int.iloc[16,:]
Q18 = dat_int.iloc[17,:]
Q19 = dat_int.iloc[18,:]
Q20 = dat_int.iloc[19,:]

In [301]:
# check for NA
print('the number of NA for Q16 is',Q16.isnull().sum())
print('the number of NA for Q17 is',Q17.isnull().sum())
print('the number of NA for Q18 is',Q18.isnull().sum())
print('the number of NA for Q19 is',Q19.isnull().sum())
print('the number of NA for Q20 is',Q20.isnull().sum())

the number of NA for Q16 is Q16    0
dtype: int64
the number of NA for Q17 is Q17    0
dtype: int64
the number of NA for Q18 is Q18    0
dtype: int64
the number of NA for Q19 is Q19    0
dtype: int64
the number of NA for Q20 is Q20    0
dtype: int64

# Descriptive statistics

<ul>
<li>A. 情緒性支持：Q16, Q18</li>
<li>B. 工具性支持：Q19</li>
<li>C. 訊息性支持：Q17, Q20</li>
</ul>

## 平均數

In [231]:
Q16_mean = np.nanmean(Q16)
print('the mean of Q16 is', Q16_mean)
Q17_mean = np.nanmean(Q17)
print('the mean of Q17 is', Q17_mean)
Q18_mean = np.nanmean(Q18)
print('the mean of Q18 is', Q18_mean)
Q19_mean = np.nanmean(Q19)
print('the mean of Q19 is', Q19_mean)
Q20_mean = np.nanmean(Q20)
print('the mean of Q20 is', Q20_mean)

the mean of Q16 is 4.431654676258993
the mean of Q17 is 4.874100719424461
the mean of Q18 is 5.271428571428571
the mean of Q19 is 5.176258992805756
the mean of Q20 is 4.830324909747293


### Mean imputation

In [232]:
df = pd.DataFrame({'Q16':Q16, 'Q17':Q17, 'Q18':Q18, 'Q19':Q19, 'Q20':Q20})
df

     Q16  Q17  Q18  Q19  Q20
0    6.0  6.0  6.0  6.0  6.0
1    4.0  4.0  4.0  5.0  4.0
2    5.0  4.0  5.0  5.0  5.0
3    5.0  5.0  6.0  5.0  4.0
4    6.0  5.0  5.0  5.0  4.0
..   ...  ...  ...  ...  ...
276  6.0  5.0  6.0  5.0  5.0
277  5.0  5.0  5.0  5.0  5.0
278  5.0  6.0  5.0  6.0  6.0
279  6.0  6.0  6.0  6.0  5.0
280  1.0  6.0  4.0  5.0  6.0

[281 rows x 5 columns]

In [240]:
imputer = SimpleImputer(strategy='mean', missing_values = np.nan)
imputer = imputer.fit(df[['Q16','Q17','Q18','Q19','Q20']])
df[['Q16','Q17','Q18','Q19','Q20']] = imputer.transform(df[['Q16','Q17','Q18','Q19','Q20']])
df

     Q16  Q17  Q18  Q19  Q20
0    6.0  6.0  6.0  6.0  6.0
1    4.0  4.0  4.0  5.0  4.0
2    5.0  4.0  5.0  5.0  5.0
3    5.0  5.0  6.0  5.0  4.0
4    6.0  5.0  5.0  5.0  4.0
..   ...  ...  ...  ...  ...
276  6.0  5.0  6.0  5.0  5.0
277  5.0  5.0  5.0  5.0  5.0
278  5.0  6.0  5.0  6.0  6.0
279  6.0  6.0  6.0  6.0  5.0
280  1.0  6.0  4.0  5.0  6.0

[281 rows x 5 columns]

In [309]:
# Redefine Q16-Q20 (as series)
Q16 = df[['Q16']].squeeze()
Q17 = df[['Q17']].squeeze()
Q18 = df[['Q18']].squeeze()
Q19 = df[['Q19']].squeeze()
Q20 = df[['Q20']].squeeze()

In [318]:
Q16

0      6.0
1      4.0
2      5.0
3      5.0
4      6.0
      ...
276    6.0
277    5.0
278    5.0
279    6.0
280    1.0
Name: Q16, Length: 281, dtype: float64

## Standard deviation

In [310]:
Q16_std = np.std(Q16)
print(Q16_std)
Q17_std = np.std(Q17)
print(Q17_std)
Q18_std = np.std(Q18)
print(Q18_std)
Q19_std = np.std(Q19)
print(Q19_std)
Q20_std = np.std(Q20)
print(Q20_std)

1.2685652484196226
0.8491015246815719
0.8165795961870457
0.7459578126100793
0.8026319489047095

## Skewness

In [311]:
print(Q16.skew())
print(Q17.skew())
print(Q18.skew())
print(Q19.skew())
print(Q20.skew())

-0.9498114158442099
-0.6307673962004319
-1.0130586195435143
-0.8723180676904888
-0.4670667909430251

## Kurtosis

In [312]:
print(Q16.kurt())
print(Q17.kurt())
print(Q18.kurt())
print(Q19.kurt())
print(Q20.kurt())

0.49368082851053563
0.4894505633563493
0.9034766163056966
1.4948453544971412
0.351883049890382

# Correlations

## Dimension A

Q2, Q6, Q8, Q13, Q16, Q18, Q27, Q28, Q32, Q33, Q36

In [317]:
# select particular items (except for Q16, Q18)
Q2 = dat_int.iloc[1,:]
Q6 = dat_int.iloc[5,:]
Q8 = dat_int.iloc[7,:]
Q13 = dat_int.iloc[12,:]
Q27 = dat_int.iloc[26,:]
Q28 = dat_int.iloc[27,:]
Q32 = dat_int.iloc[30,:]
Q33 = dat_int.iloc[31,:]
Q36 = dat_int.iloc[34,:]

Q2_sum = Q2.sum()
Q6_sum = Q6.sum()
Q8_sum = Q8.sum()
Q13_sum = Q13.sum()
Q16_sum = Q16.sum()
Q18_sum = Q18.sum()
Q27_sum = Q27.sum()
Q28_sum = Q28.sum()
Q32_sum = Q32.sum()
Q33_sum = Q33.sum()
Q36_sum = Q36.sum()

A_sum = Q2_sum + Q6_sum + Q8_sum + Q13_sum + Q16_sum + Q18_sum + Q27_sum + Q28_sum + Q32_sum + Q33_sum + Q36_sum
print('Total score of dimension A is', A_sum)
A_sum_no16 =  Q2_sum + Q6_sum + Q8_sum + Q13_sum + Q18_sum + Q27_sum + Q28_sum + Q32_sum + Q33_sum + Q36_sum
print('Total score without Q16 of dimension A is', A_sum_no16)
A_sum_no18 =  Q2_sum + Q6_sum + Q8_sum + Q13_sum + Q16_sum + Q27_sum + Q28_sum + Q32_sum + Q33_sum + Q36_sum
print('Total score without Q18 of dimension A is', A_sum_no18)

Total score of dimension A is 13483.566392600205
Total score without Q16 of dimension A is 12238.271428571428
Total score without Q18 of dimension A is 12002.294964028777

In [337]:
Q6

0      6.0
1      4.0
2      5.0
3      5.0
4      4.0
      ...
276    6.0
277    5.0
278    4.0
279    6.0
280    6.0
Name: 5, Length: 281, dtype: float64

In [366]:
A = pd.concat([Q2, Q6, Q8, Q13, Q16, Q18, Q27, Q28, Q32, Q33, Q36], axis = 1, ignore_index=True)
A = A.astype('float64')
Q16 = Q16.astype('float64')

In [367]:
A

       0    1    2    3    4    5    6    7    8    9   10
0    6.0  6.0  6.0  6.0  6.0  6.0  6.0  6.0  6.0  6.0  6.0
1    5.0  4.0  2.0  5.0  4.0  4.0  5.0  4.0  5.0  5.0  4.0
2    5.0  5.0  4.0  5.0  5.0  5.0  5.0  5.0  5.0  5.0  2.0
3    6.0  5.0  5.0  5.0  5.0  6.0  5.0  6.0  NaN  NaN  NaN
4    5.0  4.0  4.0  5.0  6.0  5.0  4.0  4.0  5.0  5.0  5.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
276  6.0  6.0  3.0  6.0  6.0  6.0  5.0  6.0  5.0  5.0  5.0
277  4.0  5.0  3.0  5.0  5.0  5.0  5.0  5.0  5.0  5.0  5.0
278  5.0  4.0  2.0  6.0  5.0  5.0  5.0  5.0  4.0  3.0  4.0
279  6.0  6.0  4.0  6.0  6.0  6.0  6.0  6.0  5.0  5.0  4.0
280  6.0  6.0  3.0  6.0  1.0  4.0  6.0  6.0  6.0  6.0  6.0

[281 rows x 11 columns]

In [368]:
print(type(Q16))
print(type(Q16[0]))

<class 'pandas.core.series.Series'>
<class 'numpy.float64'>

In [369]:
# Pearson correlation
stats.pearsonr(Q16, A)

TypeError: No loop matching the specified signature and casting was found for ufunc add